@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: NeurialGroteskBold;
  src: url(./Neurial_Grotesk_Font_Family/NeurialGrotesk-Bold.otf);
}

@font-face {
  font-family: NeurialGroteskLight;
  src: url(./Neurial_Grotesk_Font_Family/NeurialGrotesk-Light.otf);
}

@font-face {
  font-family: NeurialgroteskMeduim;
  src: url(./Neurial_Grotesk_Font_Family/NeurialGrotesk-Medium.otf);
}

header .header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1%;
  width: 99%;
}

header .header .gauche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1%;
  width: 80%;
}

header .header ul {
  list-style-type: none;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header li {
  display: inline;
  font-family: "Inter";
  color: #fff;
  font-size: 14px;
}

header .header .droite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header .droite .expert {
  background-color: #1e3076;
  border-radius: 8px;
  padding: 2%;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 35px;
}

header .header .droite .expert a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
  font-size: 15px;
  color: #fff;
}

header .header .droite .expert a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .droite .expert .fleche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 10.5%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #fff;
}

.index .acceuil {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  height: 100vh;
}

.index .acceuil video {
  position: absolute;
  z-index: -1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index .acceuil .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 33% 26%;
      grid-template-rows: 40% 33% 26%;
  padding: 16% 0% 0% 5%;
}

.index .acceuil .info .payement p {
  font-size: 56px;
  font-family: "NeurialGrotesklight";
}

.index .acceuil .info .payement H1 {
  font-size: 56px;
  font-family: "NeurialGroteskBold";
}

.index .acceuil .info .payement span {
  font-size: 18px;
  font-family: "Inter";
}

.index .acceuil .info .expert {
  background-color: #1e3076;
  border-radius: 8px;
  padding: 2%;
  margin-top: 3%;
  height: 9%;
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .acceuil .info .expert a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
  font-size: 16px;
}

.index .acceuil .info .expert a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .acceuil .info .expert .fleche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 10.5%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.index .acceuil .info .logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  margin-bottom: 3%;
}

.index .acceuil .info .logo .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.index .acceuil .info .logo .flex img {
  height: 20px;
}

.index .acceuil .info .logo .flex p {
  font-family: "Inter";
}

.index .article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
  padding: 7%;
  background-color: #fff;
}

.index .article .alignement {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% 50%;
      grid-template-columns: 7% 50%;
}

.index .article .alignement p {
  font-family: "Inter";
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #3b61f4;
  font-weight: bold;
}

.index .article .legende h2 {
  font-family: NeurialGroteskMeduim;
  font-size: 38px;
  font-weight: bold;
  width: 425px;
}

.index .article .legende p {
  font-family: "Inter";
  font-size: 18px;
  color: #616575;
  width: 425px;
  padding-top: 2%;
}

.index .article .explore {
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eaeeff;
  border-radius: 8px;
  margin-top: 3%;
}

.index .article .explore .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.index .article .explore a {
  text-decoration: none;
}

.index .article .explore a p {
  font-size: 14px;
  color: #3b61f4;
  font-family: "Inter";
}

.index video {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.index .fin {
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.index .fin h2 {
  font-size: 56px;
  font-family: "NeurialGroteskBold";
  color: #fff;
}

.index .fin p {
  font-size: 56px;
  font-family: "NeurialGrotesklight";
  color: #fff;
}

.index .fin .expert {
  background-color: #1e3076;
  border-radius: 8px;
  padding: 1%;
  margin-top: 3%;
  height: 3%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .fin .expert a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 219px;
}

.index .fin .expert a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-family: "Inter";
}

.index .fin .expert .fleche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 10.5%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #fff;
}

.index .fin .logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  padding-top: 5%;
  width: 750px;
}

.index .fin .logo .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .fin .logo p {
  font-size: 14px;
  font-family: "inter";
}

footer .footer {
  background-color: #0f183b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .infoFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 15% 15% 15% 15%;
      grid-template-columns: 30% 15% 15% 15% 15%;
  margin-top: 5%;
}

footer .footer .infoFooter .logoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-left: 10%;
}

footer .footer .infoFooter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

footer .footer .infoFooter div h1 {
  font-family: "NeurialgroteskMeduim";
  margin-bottom: 10%;
  font-size: 18px;
}

footer .footer .infoFooter div a {
  text-decoration: none;
  font-family: "Inter";
  color: #fff;
  margin-bottom: 5%;
  font-size: 14px;
}

footer .footer .infoFooter div img {
  margin-bottom: 5%;
}

footer .footer .infoFooter div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .infoFooter div:nth-child(4) {
  margin-top: 24%;
}

footer .footer .midle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .midle .droit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 90%;
}

footer .footer .midle .droit p {
  color: #fff;
  font-family: "Inter";
  font-size: 12px;
  margin: 1%;
}
/*# sourceMappingURL=style.css.map */