@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: NeurialGroteskBold;
  src: url(./Neurial_Grotesk_Font_Family/NeurialGrotesk-Bold.otf);
}

@font-face {
  font-family: NeurialGroteskLight;
  src: url(./Neurial_Grotesk_Font_Family/NeurialGrotesk-Light.otf);
}

@font-face {
  font-family: NeurialgroteskMeduim;
  src: url(./Neurial_Grotesk_Font_Family/NeurialGrotesk-Medium.otf);
}

.index .acceuil {
  background-color: #3b61f4;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  height: 100vh;
}

.index .acceuil .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 33% 26%;
      grid-template-rows: 40% 33% 26%;
  padding: 15% 0% 0% 5%;
}

.index .acceuil .info .payement p {
  font-size: 56px;
  font-family: "NeurialGrotesklight";
}

.index .acceuil .info .payement H1 {
  font-size: 56px;
  font-family: "NeurialGroteskBold";
}

.index .acceuil .info .payement span {
  font-size: 18px;
  font-family: "Inter";
}

.index .acceuil .info .expert {
  background-color: #1e3076;
  border-radius: 8px;
  padding: 2% 7% 2% 1%;
  margin-top: 3%;
  height: 9%;
  width: 23%;
}

.index .acceuil .info .expert a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
  font-size: 16px;
}

.index .acceuil .info .expert a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .acceuil .info .expert .fleche {
  position: absolute;
  -webkit-transform: translate(868%, -1027%);
          transform: translate(868%, -1027%);
}

.index .acceuil .info .expert .fleche .corp {
  border-top: #fff solid 1px;
  width: 20px;
}

.index .acceuil .info .expert .fleche .pointe {
  position: absolute;
  -webkit-transform: translate(126%, -56%);
          transform: translate(126%, -56%);
}

.index .acceuil .info .logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  margin-bottom: 3%;
}

.index .acceuil .info .logo .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.index .acceuil .info .logo .flex img {
  height: 20px;
}

.index .article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
  padding: 7%;
}

.index .article .alignement {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% 50%;
      grid-template-columns: 7% 50%;
}

.index .article .alignement p {
  font-family: "Inter";
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #3b61f4;
  font-weight: bold;
}

.index .article .legende h2 {
  font-family: NeurialGroteskMeduim;
  font-size: 38px;
  font-weight: bold;
  width: 425px;
}

.index .article .legende p {
  font-family: "Inter";
  font-size: 18px;
  color: #616575;
  width: 425px;
  padding-top: 2%;
}

.index .article .explore {
  width: 25%;
  /* height: 7%; */
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eaeeff;
  border-radius: 8px;
  margin-top: 3%;
}

.index .article .explore .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.index .article .explore a {
  text-decoration: none;
}

.index .article .explore a p {
  font-size: 14px;
  color: #3b61f4;
  font-family: "Inter";
}

.index .fin {
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.index .fin h2 {
  font-size: 56px;
  font-family: "NeurialGroteskBold";
  color: #fff;
}

.index .fin p {
  font-size: 56px;
  font-family: "NeurialGrotesklight";
  color: #fff;
}

.index .fin .expert {
  background-color: #1e3076;
  border-radius: 8px;
  padding: 1% 4% 1% 1%;
  margin-top: 3%;
  height: 3%;
  width: 10%;
}

.index .fin .expert a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .fin .expert a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: "Inter";
}

.index .fin .expert .fleche {
  position: absolute;
  -webkit-transform: translate(835%, -1027%);
          transform: translate(835%, -1027%);
}

.index .fin .expert .fleche .corp {
  border-top: #fff solid 1px;
  width: 20px;
}

.index .fin .expert .fleche .pointe {
  position: absolute;
  -webkit-transform: translate(126%, -57%);
          transform: translate(126%, -57%);
  color: #fff;
}

.index .fin .logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  padding-top: 5%;
  width: 750px;
}

.index .fin .logo .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .fin .logo p {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */