* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: NeurialGroteskBold;
    src: url(./Neurial_Grotesk_Font_Family/NeurialGrotesk-Bold.otf);
}
@font-face {
    font-family: NeurialGroteskLight;
    src: url(./Neurial_Grotesk_Font_Family/NeurialGrotesk-Light.otf);
}
@font-face {
    font-family: NeurialgroteskMeduim;
    src: url(./Neurial_Grotesk_Font_Family/NeurialGrotesk-Medium.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
.index {
    .acceuil {
        background-color: #3b61f4;
        color: #fff;
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100vh;

        .info {
            display: grid;
            grid-template-rows: 40% 33% 26%;
            padding: 15% 0% 0% 5%;

            .payement {
                p {
                    font-size: 56px;
                    font-family: "NeurialGrotesklight";
                }
                H1 {
                    font-size: 56px;
                    font-family: "NeurialGroteskBold";
                }
                span {
                    font-size: 18px;
                    font-family: "Inter";
                }
            }
            .expert {
                background-color: #1e3076;
                border-radius: 8px;
                padding: 2% 7% 2% 1%;
                margin-top: 3%;
                height: 9%;
                width: 23%;
                a {
                    text-decoration: none;
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-family: "Inter";
                    font-size: 16px;
                    p {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
                .fleche {
                    position: absolute;
                    transform: translate(724%, -1027%);
                    .corp {
                        border-top: #fff solid 1px;
                        width: 20px;
                    }
                    .pointe {
                        position: absolute;
                        transform: translate(126%, -50%);
                    }
                }
            }
            .logo {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                margin-bottom: 3%;
                .flex {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: flex-start;
                    img {
                        height: 20px;
                    }
                }
            }
        }
    }
    .article {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
        padding: 7%;
        .alignement {
            display: grid;
            grid-template-columns: 7% 50%;
            p {
                font-family: "Inter";
                font-size: 12px;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-transform: uppercase;
                color: #3b61f4;
                font-weight: bold;
            }
        }
        .legende {
            h2 {
                font-family: NeurialGroteskMeduim;
                font-size: 38px;
                font-weight: bold;
                width: 425px;
            }
            p {
                font-family: "Inter";
                font-size: 18px;
                color: #616575;
                width: 425px;
                padding-top: 2%;
            }
        }
        .explore {
            width: 25%;
            height: 7%;
            background-color: #eaeeff;
            border-radius: 8px;
            .flex {
                display: flex;
                flex-direction: column;
                align-content: center;
                text-align: center;
            }
            a {
                text-decoration: none;

                p {
                    font-size: 14px;
                    color: #3b61f4;
                }
            }
        }
    }
    .fin {
        background-color: #3b61f4;
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 56px;
            font-family: "NeurialGroteskBold";
            color: #fff;
        }
        p {
            font-size: 56px;
            font-family: "NeurialGrotesklight";
            color: #fff;
        }
        .expert {
            background-color: #1e3076;
            border-radius: 8px;
            padding: 1% 4% 1% 1%;
            margin-top: 3%;
            height: 3%;
            width: 10%;
            a {
                text-decoration: none;
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 16px;
                    font-family: "Inter";
                }
            }
            .fleche {
                position: absolute;
                transform: translate(724%, -1027%);
                .corp {
                    border-top: #fff solid 1px;
                    width: 20px;
                }
                .pointe {
                    position: absolute;
                    transform: translate(126%, -50%);
                    color: #fff;
                }
            }
        }
        .logo {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            padding-top: 5%;
            width: 750px;
            .flex {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            p {
                font-size: 14px;
            }
        }
    }
}
